.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-header p {
  font-size: calc(10px + 20vmin);
}

.app-link {
  color: #61dafb;
}